$short-side: 6%;
$long-side: 50%;
$med-side: $long-side/2;
$angle: 26.57deg;
$animation: 5s linear infinite;
$dot: #76daff;
$dot-size: 25%;

$blue: #0ebeff;
$yellow: #ffdd40;
$green: #47cf73;
$purple: #ae63e4;

@mixin skew($x, $y) {
  -ms-transform: skew($x, $y); /* IE 9 */
  -webkit-transform: skew($x, $y); /* Safari */
  transform: skew($x, $y); /* Standard syntax */
}
@mixin rotate($rotate) {
  -ms-transform: rotate($rotate); /* IE 9 */
  -webkit-transform: rotate($rotate); /* Safari 3-8 */
  transform: rotate($rotate);
}

body,
html {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.big-container {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  width: 84vmin;
  height: 84vmin;
  border-radius: 50%;
  background: black;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: turn $animation;
}

.circle-clone {
  width: 80vmin;
  height: 80vmin;
  border-radius: 50%;
  background: white;
  position: relative;
}

.container {
  width: 80%;
  height: 80%;
  position: absolute;
  top: 20%;
  left: 10%;
  overflow: hidden;
}

.line {
  position: absolute;
  background: black;
  overflow: hidden;
}

.dot {
  background: $dot;
  border-radius: 5%;
  width: $dot-size;
  height: $dot-size;
  position: absolute;
}

.circle-dot {
  background: $purple;
  border-radius: 5%;
  width: 5%;
  height: 10%;
  position: absolute;
  left: 50%;
  top: 0;
  animation: colour-change $animation;
}

.vertical {
  height: $med-side;
  width: $short-side;
}

.vertical-left {
  @extend .vertical;
  left: 0;
  top: $med-side + $short-side/2;
  animation: z-index1 $animation;
  .dot-up {
    @extend .dot;
    left: 50%- ($dot-size/2);
    animation: dot-move1-down $animation, colour-change $animation;
  }
  .dot-down {
    @extend .dot;
    left: 50%- ($dot-size/2);
    animation: dot-move1-up $animation, colour-change $animation;
  }
}

.vertical-right {
  @extend .vertical;
  left: 100%- $short-side;
  top: $med-side + $short-side;
  animation: z-index4 $animation;
  .dot-up {
    @extend .dot;
    animation: dot-move4-up $animation, colour-change $animation;
    left: 50%- ($dot-size/2);
  }
  .dot-down {
    @extend .dot;
    left: 50%- ($dot-size/2);
    animation: dot-move4-down $animation, colour-change $animation;
  }
}

.middle {
  left: 50%-($short-side/2);
}

.upper {
  top: $short-side/2;
  animation: z-index3v $animation;
}

.lower {
  top: $med-side*2;
  animation: z-index3v $animation;
}

.upper, .lower {
  .dot-up {
    @extend .dot;
    animation: dot-move3-up $animation, colour-change $animation;
    left: 50%- ($dot-size/2);
  }
  .dot-down {
    @extend .dot;
    animation: dot-move3-down $animation, colour-change $animation;
    left: 50%- ($dot-size/2);
  }
}

.horizontal {
  width: $long-side;
  height: $short-side;
}

.top-back-left {
  left: 0;
  top: 0;
  animation: z-index2 $animation;
  @include skew(0, -$angle);
  transform-origin: 100% 0%;
  .dot {
    animation: dot-move2-left $animation, colour-change $animation;
    top: 50% - ($dot-size/2);
  }
}

.top-front-left {
  left: 0;
  top: $long-side;
  animation: z-index2 $animation;
  @include skew(0deg, $angle);
  transform-origin: 100% 0%;
  .dot {
    animation: dot-move2-left $animation, colour-change $animation;
    top: 50% - ($dot-size/2);
  }
}

.top-back-right {
  left: 100%-$long-side;
  top: 0;
  animation: z-index3h $animation;
  @include skew(0deg, $angle);
  transform-origin: 0% 100%;
  .dot {
    animation: dot-move3-left $animation, colour-change $animation;
    top: 50% - ($dot-size/2);
  }
}

.top-front-right {
  left: 100%-$long-side;
  top: $long-side;
  animation: z-index3h $animation;
  @include skew(0deg, -$angle);
  transform-origin: 0% 100%;
  .dot {
    animation: dot-move3-left $animation, colour-change $animation;
    top: 50% - ($dot-size/2);
  }
}

.bottom-back-left {
  top: $long-side*0.5;
  left: $short-side/2;
  animation: z-index2 $animation;
  @include skew(0, -$angle);
  transform-origin: 100% 0%;
  .dot {
    animation: dot-move2-left $animation, colour-change $animation;
    top: 50% - ($dot-size/2);
  }
}

.bottom-front-left {
  left: 0;
  top: $med-side*3;
  animation: z-index2 $animation;
  @include skew(0deg, $angle);
  transform-origin: 100% 0%;
  .dot {
    animation: dot-move2-left $animation, colour-change $animation;
    top: 50% - ($dot-size/2);
  }
}

.bottom-back-right {
  top: $long-side;
  left: 100%-$long-side - $short-side/2;
  animation: z-index3h $animation;
  @include skew(0deg, $angle);
  transform-origin: 100% 100%;
  .dot {
    animation: dot-move3-left $animation, colour-change $animation;
    top: 50% - ($dot-size/2);
  }
}

.bottom-front-right {
  left: 100%-$long-side;
  top: $med-side*3;
  animation: z-index3h $animation;
  @include skew(0deg, -$angle);
  transform-origin: 0% 100%;
  .dot {
    animation: dot-move3-left $animation, colour-change $animation;
    top: 50% - ($dot-size/2);
  }
}

@keyframes dot-move1-up {
  0%, 
  12% {
    visibility: hidden;
  }
  12.5% {
    visibility: visible;
    top: 50%;
  }
  25% {
    top: 0%;
  }
  26%,
  100% {
    visibility: hidden;
  }
}

@keyframes dot-move1-down {
  0%,
  12% {
    visibility: hidden;
  }
  12.5% {
    visibility: visible;
    top: 50%;
  }
  25% {
    top: 100%;
  }
  26%,
  100% {
    visibility: hidden;
  }
}

@keyframes dot-move2-left {
  0%,
  25% {
    left: -$dot-size;
  }
  50%,
  100% {
    left: 100%;
  }
}

@keyframes dot-move3-down {
  0%,
  50% {
    top: -$dot-size;
  }
  62.5% {
    top: 50%;
  }
  63%,
  100% {
    visibility: hidden;
  }
}

@keyframes dot-move3-up {
  0%,
  50% {
    top: 100%;
  }
  62.5% {
    top: 50%;
  }
  63%,
  100% {
    visibility: hidden;
  }
}

@keyframes dot-move3-left {
  0%,
  50% {
    left: -$dot-size;
  }
  75%,
  100% {
    left: 100%;
  }
}

@keyframes dot-move4-down {
  0%,
  75% {
    top: -$dot-size;
  }

  87.5% {
    top: 50%;
  }
  86%,
  100% {
    visibility: hidden;
  }
}

@keyframes dot-move4-up {
  0%,
  75% {
    top: 100%;
  }
  87.5% {
    top: 50%;
  }
  86%,
  100% {
    visibility: hidden;
  }
}

@keyframes turn {
  0% {
    @include rotate(0deg);
  }

  100% {
    @include rotate(360deg);
  }
}

@keyframes colour-change {
  0% {
    background: $blue;
  }
  25% {
    background: $yellow;
  }
  50% {
    background: $green;
  }
  75% {
    background: $purple;
  }
}

@keyframes z-index1 {
  0%,
  25% {
    z-index: 4;
  }
  26% {
    z-index: 3;
  }
  99%,
  100% {
    z-index: 4;
  }
}

@keyframes z-index2 {
  0%,
  25% {
    z-index: 3;
  }
  26%,
  50% {
    z-index: 4;
  }
  51%,
  100% {
    z-index: 3;
  }
}

@keyframes z-index3h {
  0%,
  50% {
    z-index: 3;
  }
  65%,
  75% {
    z-index: 4;
  }
  76%,
  100% {
    z-index: 3;
  }
}

@keyframes z-index3v {
  0%,
  50% {
    z-index: 3;
  }
  51%,
  64% {
    z-index: 4;
  }
  75%,
  100% {
    z-index: 3;
  }
}
@keyframes z-index4 {
  0%,
  75% {
    z-index: 3;
  }
  76%,
  100% {
    z-index: 4;
  }
}
