body, html {
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

div {
  border-radius: 5%;
}

.container {
  background: white;
  width: 90vmin;
  height: 90vmin;
  position: relative;
  /*display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;*/
  font-size: 1.2em;
}

p {
  text-align: center;
}

.colour-row {
  width: 100%;
  height: 10vmin;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background: white;
}

.top {
  background: #E08C44;
  height: 10%;
  width: 68%;
  position: absolute;
  top: 5%;
  left: 16%;
  z-index: 2;
  border-radius: 50%;
}

.body-div {
  height: 80%;
  width: 80%;
  position: absolute;
  top: 10%;
  left: 10%;
  overflow: hidden;
}

.body {
  background: #F40806;
  height: 140%;
  width: 100%;
  position: absolute;
  top: -30%;
  left: 0;
  border-radius: 50%;
}

.drum-column1 {
  position: absolute;
  width: 40%;
  height: 60%;
  background: #F7D40D;
  top: 50%;
}

.colour, .colour1, .colour2, .colour3, .colour4, .colour5, .colour6 {
  width: 15%;
  height: 90%;
}

.colour1 {
  background: #F7D40D;
}

.colour2 {
  background: #385EE7;
}

.colour3 {
  background: #F40806;
}

.colour4 {
  background: #E08C44;
}

.colour5 {
  background: #DD774C;
}

.colour6 {
  background: black;
}

@media (max-width: 300px), (max-height: 300px) {
  .container {
    font-size: 1em;
  }
}
